# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# Data and Artifacts
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/index/*
!data/index/.gitkeep
artifacts/*
!artifacts/.gitkeep
logs/*
!logs/.gitkeep

# Weights & Biases
wandb/

# Hydra outputs
outputs/
multirun/

# Cache
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
